version: "3.9"

services:
  postgres:
    image: postgres:16
    security_opt:
      - seccomp=unconfined
    environment:
      POSTGRES_DB: practico_db
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    image: 879753557246.dkr.ecr.us-east-2.amazonaws.com/tse/hcen:latest
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
      - "8443:8443"
    env_file:
      - .env
    extra_hosts: ["host.docker.internal:host-gateway"]
    environment:
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_NAME: practico_db
      DB_JNDI: java:/PostgresDS
      APP_USER: ${APP_USER:-admin}
      APP_PASSWORD: ${APP_PASSWORD:-admin}
      JPA_DDL: ${JPA_DDL:-drop-and-create}
      SEED: ${SEED:-false}
      GOOGLE_APPLICATION_CREDENTIALS: /opt/secrets/firebase-sa.json
    volumes:
      - ./FIREBASE_PK.json:/opt/secrets/firebase-sa.json:ro
    restart: unless-stopped

volumes:
  postgres-data:
